*{
    margin: 0;
    padding: 0;
}
body{
    color: gray;
    background-color: wheat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 50vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
}
h1{
    text-shadow: 2px 3px 5px gray;
}
h1::selection,
p::selection {
    background-color: palevioletred;
}